.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter_name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: "Arial Black";
  font-weight: 700;
  margin: 0;
}

.fighter_details {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 20px;
  font-family: "Arial";
  font-weight: 700;
  letter-spacing: 1px;
}

.fighter_details p {
  margin: 0;
}

.fighter-preview___img {
  height: 42vh;
  margin-top: 2vh;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}
